.recolecciones {
  .select-fecha {
    font-size: 12px;
    margin-right: 10px;
  }

  .select-fecha {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
  }

  .no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 40px;
  }
}
