.exportar {
  h3 {
    margin-bottom: 30px;
  }

  .content-page {
    display: flex;
    justify-content: center;

    .data-button {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      margin-bottom: 20px;
    }

    .dates-select {
      display: flex;
      gap: 10px;
    }
  }
  .content-data {
    width: 100%;
  }

  .button {
    margin-bottom: 20px;
  }

  .download {
    display: flex;
    align-items: center;
    gap: 10px;
    background: none;
    color: #c90000;

    &:hover {
      background: #fff0f0;
    }
  }
  @media (max-width: 768px) {
    .button {
      min-width: 0;
    }
  }
}
