.registro {
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 200px;

    div {
      display: flex;
      flex-direction: column;
      gap: 5px;

      input {
        height: 30px;
      }

      select {
        height: 40px;
      }
    }
  }

  .button-save {
    height: 30px;
  }
}
