@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;500&display=swap");

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: Mulish, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  background-color: #fbf6f0;
}

html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}
#full {
  min-height: 100vh;
  width: 100%;
}

img {
  width: 100%;
}

* {
  margin: 0;
}

select {
  height: 40px;
  border-radius: 10px;
  padding: 0 10px;
  border: 1px solid #c9000059;
}

input {
  height: 40px;
  border-radius: 10px;
  padding: 0 10px;
  border: 1px solid #c9000059;
}

input:focus {
  outline: none;
  border: 1px solid #c9000059;
}

.button {
  margin: 0 auto;
  border: 1px solid #c90000;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  background-color: #c90000;
  color: #ffffff;
}

.button:hover {
  background-color: #c90000e6;
  color: #ffffff;
}

.button:disabled {
  background-color: #75757582;
  border: #75757582;
  cursor: default;
}
