.rutas {
  .add {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: fit-content;
  }

  .formulario {
    padding: 20px;
    border: 0.5px solid #c900004a;
    width: fit-content;
    margin: 20px 0;
    border-radius: 10px;
    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      label {
        width: 100px;
      }
    }

    .button-form {
      display: flex;
      justify-content: center;
    }
  }
}
